.add-button {
  z-index: 10;
  margin: 10px 10px 0px 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  font-size: 24pt;
  color: #c8c8c8;
  background-color: #0f7e1e;
  opacity: 0.75;
  transition-duration: 0.3s;
}
.add-button:hover {
  border-radius: 25%;
  color: #c8c8c8;
  background-color: #0f7e1e;
  opacity: 1;
  box-shadow: 0px 5px 10px #0f0f0f;
}
.add-button:active {
  color: #b6b6b6;
  background-color: #0b5515;
  opacity: 1;
  box-shadow: 0px 0px 0px black;
}